#top_menu { /*logo + main_nav links*/
	/*border: 1px solid blue;*/
	height: 40px;
	width: 100%;
	border-bottom: 1.5px solid gray;
}
#logo a img { /*changed "header" to "logo"*/
	/*border: 1px solid red;*/
	width: 292px;
	height: 32px;
	float: left;
	margin: 5px 0 0 5px;
}
#main_nav { /*nav links*/
	border: 1px solid blue;
	font-size: 12px;
	float: right; /*float around in the containing box*/
	margin: 20px 0 0 0;
}
/*
#main_nav  ul { rmv bullet points?
	border: 1px solid green;
	list-style-type: none;
}*/
#main_nav li {
	border: 1px solid red;
	display: inline;
	margin: 0 30px;
}
img.cover { /* changed "displayed" to "cover" */
	border-style: none;
	display: block;
	margin: 0 auto; /*centers image left & rt*/
	width: 495px;
	height: 630px;
}
@media (max-width: 500px) {/*put at end to override the original commands*/
	body {
		background: red;
	}
	#top_menu {
		border: none;
	}
	#main_nav {
		float: left;
	}
	#main_nav li {
	border: 1px solid blue;
	display: block;
	margin: 0;
	}
	img.cover {
		width: 100%;
    	height: auto;
	}
}
/*h1 {
	border: 1px solid yellow;
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	display: inline;
	float: top left;
}*/
h2 {
	font-family: 'Lato', sans-serif;
	font-style: light-300;
	font-size: 14px;
	color: black;
	padding-top: 20;
}
body {
	font-family: 'Lato', sans-serif;
	font-style: light-300;
	color: black;
}
/*
#press_pics_nav {
	border: 1px solid white;
	margin-top: 80px;
}
#press_pics_nav li {
	border: 1px solid white;
	display: inline;
}
#press_pics_nav a img {
	border: 1px solid white;
	border-radius: 5px;
	width: 110px;
	height: 110px;
	padding: 7px;
}
/*#coll_nav {
	border: 1px solid blue;
	margin-top: 30px;
	font-size: 10px;
	position: absolute;
}
#coll_nav li {
	border: 1px solid red;
	display: block;
	height: 19px;
}*/
#slider1_title p{
	border: 1px solid blue;
	margin-top: 40px;
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 510px;
    text-align: center;
}
#slider1_container {
	/*border: 1px solid blue;*/
	margin-top: 30px;
	display: block;
	margin-left: auto;
    margin-right: auto;
}
p {
	font-family: 'Lato', sans-serif;
	font-style: light-300;
	font-size: 14px;
	color: black;
	line-height: 21px; /* sets ht of lines w/out adjusting font size. can be a number (which is a multiple, so "2" is 2x font size), a length, a percentage, or normal */
	/*text-align: left; /* left, right, center, or justify */
}
img.bio {
	position: absolute;
	padding-top: 80px;
	padding-left: 30px;
}
#about_content {
	margin-top: 60px;
	margin-left: 400px;
	margin-right: 50px;
}
a {
	color: black;
	text-decoration: none;
}
#link-container { /* contact link */
	text-align: center;
}
#link { /* contact link */
	background: white;
	color: black;
	display: inline-block;
	padding: 100px;
	padding-top: 250px;
}
a:active {
	color: red;
}
a:hover {
	color: gray;
}